@font-face {
    font-family: Ubuntu_Bold;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-B.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_BoldItalic;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-BI.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_Condensed;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-C.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_Light;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-L.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_LightItalic;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-LI.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_Medium;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-M.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_MediumItalic;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-MI.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMono_Bold;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/UbuntuMono-B.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMono_BoldItalic;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/UbuntuMono-BI.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMono;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/UbuntuMono-R.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMono_Italic;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/UbuntuMono-RI.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-R.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_Italic;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-RI.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu_Thin;
    src: url('https://github.com/nguyyentantai/nguyyentantai/blob/font/Ubuntu-Th.ttf') format('truetype');
}



